.footer {
  padding: 5rem 10rem;
  height: 100vh;
  position: relative;
  overflow-x: hidden;

  &__container {
    height: 100%;
    align-items: stretch;

    &--content {
      height: 100%;
      align-items: center;

      &__col {
        align-self: flex-end;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      display: inline-block;
      margin: 0 auto;
      width: 60%;
      position: absolute;
      right: 0;
      top: 0;
      @media only screen and (max-width: 576px) {
        top: 0;
        left: 0;
        display: inline-block;
        transform: scale(1.2);
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 48%;
    top: 0;
    right: -12rem;
    background-image: url(../img/footerbg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;

    @include respond(md) {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__leaf {
    position: absolute;
    width: 25rem;
    height: 33rem;
    top: 25rem;
    left: -13rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 10rem;

    @include respond(md) {
      width: 100%;
      text-align: center;
      padding-left: 0;
    }

    &--details {
      padding: 1rem;
      @include respond(md) {
        text-align: center;
      }
    }

    &--social {
      @include flex;
      padding: 0.5rem 1.5rem;
      padding-left: 12rem;

      @include respond(md) {
        justify-content: center;
        padding-left: 0rem;
      }

      i {
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          color: $lightGreen;
          transform: scale(1.5) rotate(360deg);
        }

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }
}
