.header {
  min-height: 100vh;
  padding: 5rem 10rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: -20%;
    right: 0;
    background-image: url(../../img/headerbag.svg);
    background-size: 145%;
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: -1;

    @include respond(big) {
      opacity: 0;
    }
  }

  &__nav {
    @include flex;

    @include respond(md) {
      height: 15%;
    }
  }

  &__logo {
    @include flex;
    justify-content: center;
    width: 5.7rem;
    height: 5.7rem;
    border-radius: 50%;
    margin-right: auto;
    background-color: $lightGreen;
    font-size: 2.9rem;
    font-family: $robotoFont;

    @media only screen and (max-width: 576px) {
      margin: 0 auto;
    }
  }

  &__items {
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: 576px) {
      justify-content: center;
    }
  }

  &__list {
    @include flex;
    justify-content: space-around;
    list-style: none;
    z-index: 20;
  }

  &__link {
    &,
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: $black;
      font-family: $questrialFont;
      transition: all 0.2s;
      padding: 0.5rem 1.5rem;
      margin: 0 1rem;
      transition: all 0.5s;
      border-radius: 3rem;
    }

    &:hover {
      transform: translateY(-0.4rem);
      background-color: $btnColor;
      color: $white;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      position: absolute;
      top: 10rem;
      left: 8rem;

      @media only screen and (max-width: 576px) {
        top: 0;
        left: 0;
        display: inline-block;
      }
    }
  }

  &__main {
    padding: 5rem 10rem;
    min-height: 100vh;

    @include respond(sm) {
      padding: 0;
    }

    @include respond(md) {
      @include flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
    }
    &--container {
      min-height: 100vh;
    }
  }

  &__content {
    @include respond(md) {
      text-align: center;
    }

    &--details {
      padding: 1rem;
    }

    &--social {
      @include flex;
      padding: 0.5rem 1.5rem;

      @include respond(md) {
        justify-content: center;
      }

      img {
        width: 1.5rem;
        height: 1.5rem;

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }
}
