.heading {
  font-family: $robotoFont;
  font-weight: 700;

  &-3 {
    font-size: 3.6rem;
  }

  &-4 {
    font-size: 3rem;
    text-align: center;
  }

  &-5 {
    font-size: 2rem;
  }
}

.paragraph {
  font-size: 1.8rem;
  font-family: $questrialFont;
}
